Instagram_posting.json
{
  "name": "Instagram_posting",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1856,
        -32
      ],
      "id": "4a90c8ee-102f-4836-a68c-0eccb4254b67",
      "name": "When chat message received",
      "webhookId": "77ce4631-6598-463f-afd7-e2ab22b51209"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "image_base64",
        "options": {
          "fileName": "=image.png",
          "mimeType": "image/png"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1360,
        -32
      ],
      "id": "8dd41eb1-6116-45fc-abb8-c7e43679afc5",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://image-generation-server-skillnewyork.replit.app/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "AIzaSyC1WDo4iVIw8KoqYtREK6mfaNRhdKG4yXY"
            },
            {
              "name": "prompt",
              "value": "=Generate the high quality image based on the user input {{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1600,
        -32
      ],
      "id": "e41dbb2e-9a97-49fa-b43a-c2e9757c5f62",
      "name": "Image Generation Server"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://image-ninja-host-skillnewyork.replit.app/api/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "numpyninja"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1088,
        -32
      ],
      "id": "50160c6d-304f-485b-8d01-bcd61471acc2",
      "name": "replit image URL"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841475401633835",
        "edge": "media",
        "allowUnauthorizedCerts": true,
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.data }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -816,
        -32
      ],
      "id": "dd9e8d2f-60a7-44e2-a928-9fdf46653758",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "oBCV5Yugu230M5PB",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841475401633835",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -592,
        -32
      ],
      "id": "a6eeb129-3ac5-41ec-9782-a2f2eb08280c",
      "name": "Facebook Graph API1",
      "credentials": {
        "facebookGraphApi": {
          "id": "oBCV5Yugu230M5PB",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "hostUrl": "graph-video.facebook.com",
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "491305090740021",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1072,
        176
      ],
      "id": "21c89808-be1f-4a79-8d4a-6bd5ac42a97b",
      "name": "Facebook Graph API2",
      "credentials": {
        "facebookGraphApi": {
          "id": "oBCV5Yugu230M5PB",
          "name": "Facebook Graph account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Image Generation Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "replit image URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Graph API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generation Server": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "replit image URL": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd985a48-5e62-47fc-8733-5adde8bdc288",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a85a4bb18a795f58665538971570bdebb51ef7c67881908a82680df0b3e2cbb"
  },
  "id": "TTadLIx93Sgca6LG",
  "tags": []
}