Prompt_Vector.json
{
  "name": "Prompt_Vector",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        -128
      ],
      "id": "50721bb8-c784-4b34-a30d-94b0e924186c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1a0cUtzqYwH18qVNIj6do9Nj6HToqsc9g",
            "mode": "list",
            "cachedResultName": "N8N",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1a0cUtzqYwH18qVNIj6do9Nj6HToqsc9g"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -336,
        -128
      ],
      "id": "0dfed397-bc74-4a9b-be9a-2f80911e33f7",
      "name": "Upload PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZGY0F7VrtYjk6k2d",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        -128
      ],
      "id": "d2f86db3-590d-42ec-a3c7-e2b0f537945b",
      "name": "Download PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZGY0F7VrtYjk6k2d",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "={{ $('Download PDF').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        0,
        -128
      ],
      "id": "251f3478-29e5-43b8-b867-f35ebcbb6520",
      "name": "Simple Vector Store",
      "notesInFlow": false
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        32
      ],
      "id": "c94ca9ad-22a1-4a36-9893-f44f49472d52",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "jFUzaDO8ZkFfFKNj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        224,
        16
      ],
      "id": "682cf595-b075-409c-bb16-6129343cca29",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -512,
        176
      ],
      "id": "7204656e-8d39-4553-9fac-c25e14b6ce20",
      "name": "When chat message received",
      "webhookId": "fc92127c-4336-42f4-800e-83f07ef5336c"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful AI assistant that answers user questions based on the Mahabharata. \nThe knowledge source is provided in the uploaded PDF(s). \n\nRules:\n1. Always use the content from the Mahabharata PDF as the primary reference.\n2. If a user asks a question, search the vector database for the most relevant passages and summarize them clearly in 2 lines. \n3. When answering, provide context (characters, events, locations) so the user can understand the meaning in simple language. \n4. If the answer is not found in the PDF, say: \n   \"I could not find that information in the Mahabharata text provided.\"\n5. Maintain a respectful and educational tone. \n\nYour role is to act as a teacher and storyteller, making the Mahabharata easy to understand through conversation, summaries"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -304,
        176
      ],
      "id": "06af5328-04bd-437b-9c5a-11e205db181e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -448,
        384
      ],
      "id": "710653ef-4b21-4015-a6e9-44dd83016b24",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jFUzaDO8ZkFfFKNj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to answer all the question about Mahabharata",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        64,
        320
      ],
      "id": "eba04eaa-d910-48f1-94e2-27e68cc37df6",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        368
      ],
      "id": "47bf3916-5035-47c2-8f86-995776a1be9e",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "jFUzaDO8ZkFfFKNj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -304,
        384
      ],
      "id": "69521ab8-5cbb-4921-8b55-c4ad92c372df",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Whwzmjs_zUkcNBCQMpDhj9q_ctbrbxFbTmZWF0E1hjk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Whwzmjs_zUkcNBCQMpDhj9q_ctbrbxFbTmZWF0E1hjk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Question": "={{ $('When chat message received').item.json.chatInput }}",
            "Answer": "={{ $json.output }}",
            "Date & Time ": "={{ $now }}"
          },
          "matchingColumns": [
            "Question"
          ],
          "schema": [
            {
              "id": "Date & Time ",
              "displayName": "Date & Time ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        176
      ],
      "id": "45faca97-ab30-4372-b2a3-52039afe61ff",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W6AbLKU97w19DpKr",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Upload PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e5c4bb08-f8b5-4d00-a706-52c8328d264f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6d98ab6738e234a7e3a56722adc5bed1d676359694f0b4ee52a2e2cd61670ee"
  },
  "id": "hzbNxboThKxpwQYy",
  "tags": []
}