Simple AI Agent to send mail.json
{
  "name": "Simple AI Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        -112
      ],
      "id": "f32330d7-d813-44e0-add3-09925ea1959b",
      "name": "When chat message received",
      "webhookId": "16993098-f301-41d3-bdba-dd138a33d775"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a helpful and friendly email assistant.  \nYour job is to take the user’s request and generate a complete email.  \n\nGuidelines:\n- If the user doesn’t provide a recipient, politely ask for their email address.  \n- If the subject is not clear, create one that matches the context.  \n- Keep the email body short, polite, and professional, but also friendly.  \n- Never include extra explanations outside the JSON.  \n- Always output valid JSON so it can be sent directly.  \n- always signoff with Adhitya"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -192,
        -112
      ],
      "id": "5945c890-8081-44e0-97b9-17b53300e0ef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        96
      ],
      "id": "bd8f5c4c-6261-4e39-8ada-a7a1b34cd410",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jFUzaDO8ZkFfFKNj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -112,
        96
      ],
      "id": "f22b8872-bc6c-4dc6-8f01-f0e1115924f9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32a86f1d-bf5b-4807-bd1a-48e0cd997060",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -112
      ],
      "id": "5dd9d36e-952d-4786-bc78-16949b99cded",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailReceiptent\") }}",
        "subject": "={{ $fromAI(\"emailsubject\") }}",
        "message": "={{ $fromAI(\"emailboby\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        112,
        112
      ],
      "id": "cfa7cdb7-e1af-460d-95da-1eaed4c80b5a",
      "name": "Send Email",
      "webhookId": "f272c94a-73a3-4ada-9188-4c175bd2fec0",
      "credentials": {
        "gmailOAuth2": {
          "id": "vFyzlbDd7D9SIn7U",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12e5edc0-a541-4d61-a76f-2880476aad63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6d98ab6738e234a7e3a56722adc5bed1d676359694f0b4ee52a2e2cd61670ee"
  },
  "id": "5ZKvflwtZ8hUVM0G",
  "tags": []
}